{% extends "base.html" %}
{% block page_content %}
    <div class="container">
        <h2>Persons management</h2>
        <table class="table table-bordered" border="1">
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>DNI</th>
                <th></th>
                <th></th>
            </tr>
            {% for person in persons %}
            <tr>
                <td> {{ person.name }}</td>
                <td> {{ person.lastname }} </td>
                <td> {{ person.age }} </td>
                <td> {{ person.dni }}  </td>
                <td> <a href="{% url 'edit_person' person.id%}">Edit</a> </td>
                <td> <a href="{% url 'delete_person' person.id%}">Delete</a> </td>
            </tr>
            {% endfor %}
        </table>
        <div>
            <a href="{% url 'new_person' %}">New Person</a>
        </div>
        </br>
        <div>
            <a href="{% url 'admin_index' %}">Turn Management</a>
        </div>
    </div>
    
{% endblock %}